
h1, h2 {
    font-size: 2.5rem !important;
}

h4 {
    font-size: 1.5rem !important;
}

#logo-container {
    width: 11rem;
}

.cb-d-flex {
    display: flex;
    align-items: center;
}

.quire-contents-list.grid ol li .card.image .card-content {
    color: black;
    font-weight: 400;
}
.quire-entry .quire-page__content .content p {
    line-height: 1.75;
}

@media only screen and (max-width: 800px) {
    .quire-navbar-controls__center {
        display: none;
    }
}

.quire-menu__header__contributors {
    display: none;
}

.quire-cover__hero-body .quire-contributor {
    display: none;
}

.quire-navbar,
.quire-navbar a,
.quire-navbar button,
.quire-navbar .button {
    background: #FFFFFF!important;
}

.quire main,
.quire-cover .quire-page__content .container.is-fluid .content {
    background-color: #F4F1EA!important;
}

/*******************************/
/* ACCORDION                   */
/*******************************/
.quire-page .accordion-section .accordion-section__heading > :is(h2, h3, h4, h5, h6) {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1rem;
}

.quire-page .accordion-section .accordion-section__heading {
    & h3,
    & h4,
    & h5,
    & h6 {
        font-family: 'Fira Sans', sans-serif;
    }
}

.accordion-section__heading {
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
}

/*******************************/
/* LOGO MENU LATERALE          */
/*******************************/
.quire-copyright .copyright__publisher-logo {
    height: 5rem;
}


@media screen and (min-width: 960px) {
    .side-by-side .quire-entry__lightbox {
        position: fixed;
        top: 6rem;
        width: calc(56% - 8px);
        height: calc(100vh - 6rem);
    }
    .quire-entry div.side-by-side div.quire-entry__content {
        height: calc(100vh - 3rem);

    }
}
